body{
    background-color: rgb(236, 253, 238);
    padding-bottom: 2.5rem;
    
}

p{
    font-size: 25px;
    margin-bottom: 30px;
}
h3{
    margin-top: 45px;
    font-size: 22px;
}

.conhecimentos{
    font-size: 20px;
}

menu{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #CCC;
    margin-bottom: 30px;
}

.elementos {
    font-size: 25px;
    list-style-type: none;
    margin: 5px;
    padding: 15px;
    display: inline;
    background-color: #7ee09b;
    border-radius: 10px;
    color: #CCC;
    
  }
 
 h1{
    color: rgb(54, 206, 62);
    text-align: center;
    font-style: oblique;
    font-size: 40px;
    
}
.imagemgrand{
    width: 50%;
    height: 8%;
    border-radius: 40%;
    float: right;
    margin-right: 20px ;
    margin-bottom: 100px;
}
.imagensp{
    max-width:700px;
    max-height:500px;
    width: auto;
    height: auto;
}

footer {
    position: static; 
    bottom:0;
    left:0;
    clear: both;
    text-align: center;
    margin-top: 20px;
    background-color: #d3ffe0;
}

.rodape{
    font-size: 18px;
}

.redescontato{
    width: auto;
    height: 50px;
    margin-top: 20px;
}

.elementos:hover{
    color: #5194bb;
     background-color: rgb(213, 235, 255);
}

.imagemnovidades{
    margin: 20px;
    width: auto;
    height: 300px;
}